PORT=5001
MONGO_URI=mongodb://localhost:27017/myfinbank
JWT_SECRET=your_jwt_secret_here
EMAIL_USER=your_email_here
EMAIL_PASS=your_email_password_here
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=your_admin_email_here
SUPER_ADMIN_EMAIL=your_super_admin_email_here